<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
    <h1 class="bg-success p-2 text-center text-light w-100">Shopping Cart</h1>
    <section class="m-3 w-100 d-flex flex-column justify-content-center align-items-center">
        {{#if cartItems}}
        {{#each cartItems}}
        <div class="card m-2 w-75">
            <div class="card-body">
                <h5 class="card-title">{{this.product.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Quantity:
                    {{this.quantity}}</h6>
                <p class="card-text">Price per item: ${{this.product.price}}</p>
                <a href="/products/{{this.product.id}}" class="card-link">View
                    Product</a>
                <button class="btn btn-danger" onclick="removeFromCart('{{this.id}}')">Remove</button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p class="text-warning">Your cart is empty.</p>
        {{/if}}
    </section>
</main>